{% extends 'base-admin.html' %}
{% block title %}Add Student{% endblock %}

{% block content %}
<div class="container mt-4">
    <h3>Add New Student</h3>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label>First Name</label>
            <input name="first_name" class="form-control" required>
        </div>
        <div class="form-group">
            <label>Middle Name</label>
            <input name="middle_name" class="form-control">
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input name="last_name" class="form-control" required>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input name="email" type="email" class="form-control" required>
        </div>
        <div class="form-group">
            <label>Contact</label>
            <input name="contact" class="form-control" required>
        </div>
        <div class="form-group">
            <label>Address</label>
            <input name="address" class="form-control" required>
        </div>
        <div class="form-group">
            <label>Course</label>
            <input name="course" class="form-control" required>
        </div>
        <div class="form-group">
            <label>Ambition</label>
            <input name="ambition" class="form-control">
        </div>
        <div class="form-group">
            <label>Batch</label>
            <select name="batch_id" class="form-control" required>
                <option value="">Select Batch</option>
                {% for batch in batches %}
                <option value="{{ batch.id }}">{{ batch.from_year }} - {{ batch.to_year }} ({{ batch.batch_type }})</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label>Photo</label>
            <input type="file" name="photo" class="form-control-file">
        </div>
        <button class="btn btn-success">Add Student</button>
    </form>
</div>
{% endblock %}
