{% extends 'base-admin.html' %}

{% block content-header %}
<div class="row mb-2">
  <div class="col-sm-6">
    <h1 class="m-0">Dashboard</h1>
  </div>
  <div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active">Dashboard</li>
    </ol>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
  <!-- Card for Total Batches -->
  <div class="col-lg-3 col-6">
    <div class="small-box bg-success">
      <div class="inner">
        <h3>12</h3>
        <p>Total Batches</p>
      </div>
      <div class="icon">
        <i class="fas fa-layer-group"></i>
      </div>
      <a href="#" class="small-box-footer">
        View All Batches <i class="fas fa-arrow-circle-right"></i>
      </a>
    </div>
  </div>
  
  <!-- Card for Total Graduates -->
  <div class="col-lg-3 col-6">
    <div class="small-box bg-info">
      <div class="inner">
        <h3>500</h3>
        <p>Total Graduates</p>
      </div>
      <div class="icon">
        <i class="fas fa-user-graduate"></i>
      </div>
      <a href="#" class="small-box-footer">
        View All Graduates <i class="fas fa-arrow-circle-right"></i>
      </a>
    </div>
  </div>
  
  <!-- Card for Current Batch -->
  <div class="col-lg-3 col-6">
    <div class="small-box bg-warning">
      <div class="inner">
        <h3>2025</h3>
        <p>Current Batch</p>
      </div>
      <div class="icon">
        <i class="fas fa-calendar"></i>
      </div>
      <a href="#" class="small-box-footer">
        View Batch Details <i class="fas fa-arrow-circle-right"></i>
      </a>
    </div>
  </div>
  
  <!-- Card for Total Records -->
  <div class="col-lg-3 col-6">
    <div class="small-box bg-danger">
      <div class="inner">
        <h3>2000</h3>
        <p>Total Records</p>
      </div>
      <div class="icon">
        <i class="fas fa-folder-open"></i>
      </div>
      <a href="#" class="small-box-footer">
        View All Records <i class="fas fa-arrow-circle-right"></i>
      </a>
    </div>
  </div>
</div>
{% endblock %}
