<!-- Graduate & Undergraduate Study Reasons -->
<h5 class="text-primary mt-4">Reason(s) for taking the Undergraduate/AB/BS course(s)</h5>
<div class="form-group">
  <div class="form-check"><input class="form-check-input" type="checkbox" name="undergrad_reasons" value="high_grades_subject"><label class="form-check-label">High grades in the course or subject area(s) related to the course</label></div>
  <div class="form-check"><input class="form-check-input" type="checkbox" name="undergrad_reasons" value="good_grades_highschool"><label class="form-check-label">Good grades in high school</label></div>
  <div class="form-check"><input class="form-check-input" type="checkbox" name="undergrad_reasons" value="influence_parents"><label class="form-check-label">Influence of parents or relatives</label></div>
  <div class="form-check"><input class="form-check-input" type="checkbox" name="undergrad_reasons" value="peer_influence"><label class="form-check-label">Peer Influence</label></div>
  <div class="form-check"><input class="form-check-input" type="checkbox" name="undergrad_reasons" value="role_model"><label class="form-check-label">Inspired by a role model</label></div>
  <div class="form-check"><input class="form-check-input" type="checkbox" name="undergrad_reasons" value="passion"><label class="form-check-label">Strong passion for the profession</label></div>
  <div class="form-check"><input class="form-check-input" type="checkbox" name="undergrad_reasons" value="immediate_employment"><label class="form-check-label">Prospect for immediate employment</label></div>
  <div class="form-check"><input class="form-check-input" type="checkbox" name="undergrad_reasons" value="status"><label class="form-check-label">Status or prestige of the profession</label></div>
  <div class="form-check"><input class="form-check-input" type="checkbox" name="undergrad_reasons" value="course_availability"><label class="form-check-label">Availability of course offering in chosen institution</label></div>
  <div class="form-check"><input class="form-check-input" type="checkbox" name="undergrad_reasons" value="career_advancement"><label class="form-check-label">Prospect of career advancement</label></div>
  <div class="form-check"><input class="form-check-input" type="checkbox" name="undergrad_reasons" value="affordability"><label class="form-check-label">Affordability for the family</label></div>
  <div class="form-check"><input class="form-check-input" type="checkbox" name="undergrad_reasons" value="attractive_compensation"><label class="form-check-label">Prospect of attractive compensation</label></div>
  <div class="form-check"><input class="form-check-input" type="checkbox" name="undergrad_reasons" value="abroad"><label class="form-check-label">Opportunity for employment abroad</label></div>
  <div class="form-check"><input class="form-check-input" type="checkbox" name="undergrad_reasons" value="no_choice"><label class="form-check-label">No particular choice or no better idea</label></div>
  <div class="form-check"><input class="form-check-input" type="checkbox" name="undergrad_reasons" value="not_applicable"><label class="form-check-label">Not applicable</label></div>
</div>

<h5 class="text-primary mt-4">Reason(s) for pursuing Graduate/MS/MA/PhD degree(s)</h5>
<div class="form-group">
  <div class="form-check"><input class="form-check-input" type="checkbox" name="grad_reasons" value="high_grades_course"><label class="form-check-label">High grades in the course or subject area(s) related to the course</label></div>
  <div class="form-check"><input class="form-check-input" type="checkbox" name="grad_reasons" value="good_grades_college"><label class="form-check-label">Good grades in college</label></div>
  <div class="form-check"><input class="form-check-input" type="checkbox" name="grad_reasons" value="influence_parents"><label class="form-check-label">Influence of parents or relatives</label></div>
  <div class="form-check"><input class="form-check-input" type="checkbox" name="grad_reasons" value="peer_influence"><label class="form-check-label">Peer Influence</label></div>
  <div class="form-check"><input class="form-check-input" type="checkbox" name="grad_reasons" value="role_model"><label class="form-check-label">Inspired by a role model</label></div>
  <div class="form-check"><input class="form-check-input" type="checkbox" name="grad_reasons" value="passion_profession"><label class="form-check-label">Strong passion for the profession</label></div>
  <div class="form-check"><input class="form-check-input" type="checkbox" name="grad_reasons" value="immediate_employment"><label class="form-check-label">Prospect for immediate employment</label></div>
  <div class="form-check"><input class="form-check-input" type="checkbox" name="grad_reasons" value="status_prestige"><label class="form-check-label">Status or prestige of the profession</label></div>
  <div class="form-check"><input class="form-check-input" type="checkbox" name="grad_reasons" value="availability_course"><label class="form-check-label">Availability of course offering in chosen institution</label></div>
  <div class="form-check"><input class="form-check-input" type="checkbox" name="grad_reasons" value="career_advancement"><label class="form-check-label">Prospect of career advancement</label></div>
  <div class="form-check"><input class="form-check-input" type="checkbox" name="grad_reasons" value="affordability"><label class="form-check-label">Affordability for the family</label></div>
  <div class="form-check"><input class="form-check-input" type="checkbox" name="grad_reasons" value="attractive_compensation"><label class="form-check-label">Prospect of attractive compensation</label></div>
  <div class="form-check"><input class="form-check-input" type="checkbox" name="grad_reasons" value="employment_abroad"><label class="form-check-label">Opportunity for employment abroad</label></div>
  <div class="form-check"><input class="form-check-input" type="checkbox" name="grad_reasons" value="no_better_idea"><label class="form-check-label">No particular choice or no better idea</label></div>
  <div class="form-check"><input class="form-check-input" type="checkbox" name="grad_reasons" value="not_applicable"><label class="form-check-label">Not applicable</label></div>
  <div class="form-check mt-2">
    <label class="form-check-label">Other (please specify):</label>
    <input type="text" class="form-control" name="grad_reasons_other">
  </div>
</div>

<!-- Trainings or Advanced Studies After College -->
<h5 class="text-primary mt-4">Training(s)/Advance Studies Attended After College</h5>
<div class="form-group">
    <label for="trainings">Title of Training or Advance Study<br>Duration and Credits Earned<br>Name of Training Institution/College/University</label>
    <textarea class="form-control" id="trainings" name="trainings" rows="3"></textarea>
</div>
<div class="form-group">
    <label for="advance_reason">What made you pursue advance studies?</label>
    <select class="form-control" id="advance_reason" name="advance_reason">
        <option value="promotion">For promotion</option>
        <option value="development">For professional development</option>
        <option value="others">Others, please specify</option>
        <option value="not_applicable">Not Applicable</option>
    </select>
</div>
