{% extends 'base-admin.html' %}

{% block content-header %}
<div class="row mb-2">
  <div class="col-sm-6">
    <h1 class="m-0">Graduate List</h1>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="card card-outline card-primary">
  <div class="card-header">
    <h3 class="card-title">Graduates</h3>
    {% if batch_id %}
        <a href="{% url 'add_graduate' batch_id=batch_id %}" class="btn btn-sm btn-success float-right">
            <i class="fas fa-plus"></i> Add Graduate
        </a>
    {% endif %}

  </div>
  <div class="card-body">
    <table id="graduateTable" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Course</th>
          <th>Batch Type</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for graduate in graduates %}
        <tr>
          <td>{{ graduate.id }}</td>
          <td>{{ graduate.first_name }} {{ graduate.last_name }}</td>
          <td>{{ graduate.course }}</td>
          <td>{{ graduate.batch_type }}</td>
          <td>
            <a href="{% url 'edit_graduate' graduate.id %}" class="btn btn-primary btn-sm">
              <i class="fas fa-edit"></i> Edit
            </a>
            <a href="{% url 'delete_graduate' graduate.id %}" class="btn btn-danger btn-sm">
              <i class="fas fa-trash"></i> Delete
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script>
  $(document).ready(function () {
    $('#graduateTable').DataTable({ responsive: true, autoWidth: false });
  });
</script>
{% endblock %}
