<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}eYearbook | Dashboard{% endblock %}</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  {% include 'includes/header.html' %}
  {% include 'includes/sidebar.html' %}
  <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        {% block content-header %}{% endblock %}
      </div>
    </div>
    <div class="content">
      <div class="container-fluid">
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>
  {% include 'includes/footer.html' %}
</div>
</body>
</html>
